/* Navbar */

section {
  padding-top: 30px;
  /* Adjust this value based on the height of your navbar */
}


.navbar {
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
  color: #fff;
  font-weight: bold;
  padding: 0px;
  /* Adjust padding as needed */

}

.nav-link.active {
  color: #ffd700;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fff;
}


/* Home */
.welcome-message {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-40%, -30%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 30px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 576px) {
  .welcome-message {
    width: 90%;
    padding: 20px;
  }
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/MyImage.jpeg') no-repeat center center/cover;
}

/* About */
#about {
  text-align: justify;
}

#about h2 {
  font-size: 32px;
  font-family: 'YourDesiredFont', sans-serif;
  margin-bottom: 20px;
}

#about p {
  font-size: 20px;
  font-family: 'YourDesiredFont', Times new roman;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* About Me section */
#about p strong {
  color: #3e91ea;
  /* Highlighted text color */
  font-weight: bold;
  background-color: #f0f8ff;
  /* Light background color for emphasis */
  padding: 2px 4px;
  border-radius: 4px;
}

/* Journey styles */

#journey .infographic-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centers the content horizontally */
  margin-bottom: 40px;
  position: relative;
  transition: transform 0.3s ease;
}

#journey .timeline-item-left {
  flex-direction: row;
}

#journey .timeline-item-right {
  flex-direction: row;
}

#journey .timeline-item-left .infographic-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e8e3e3;
  /* Customize color for left icons */
  color: #0b9ebc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1;
  flex-shrink: 0;
  margin: 0 20px;
  /* Adds space between icon and content */
}

#journey .timeline-item-right .infographic-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0b9ebc;
  /* Customize color for right icons */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1;
  flex-shrink: 0;
  margin: 0 20px;
}

#journey .infographic-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  max-width: 850px;
}

#journey .infographic-item:hover {
  transform: scale(1.05);
}

#journey h3 {
  color: #252323;
  font-family: 'YourDesiredFont', sans-serif;
  margin-bottom: 10px;
}


/* Projects */
.project-card {
  height: 100%;
}

.project-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.btn-secondary {
  background-color: #757575;
  border-color: #0c0d0d;
}

.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Skills */
.skill-icon {
  font-size: 36px;
  color: #d63384;
  margin: 10px;
}

.modal-footer .skill-icon {
  font-size: 24px;
}

.background-skills-left,
.background-skills-right {
  position: fixed;
  top: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.background-skills-left {
  left: 10px;
}

.background-skills-right {
  right: 10px;
}

.background-skills-left .col,
.background-skills-right .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-github {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-github:hover {
  color: #fff;
  background-color: #24292e;
  border-color: #1b1f23;
}

.btn-website {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-website:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #004085;
}


/* General */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding-top: 50px;
  background: #ffffff;
  color: #333;
  scroll-behavior: smooth;
}

.container {
  max-width: 960px;
}

.social-icons a {
  margin-right: 15px;
  font-size: 24px;
  color: #6c757d;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #343a40;
  color: #fff;
}

/* Thank You Section */
#thankyou {
  text-align: center;
  margin-top: 60px;
}

#thankyou h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

#thankyou p {
  font-size: 18px;
}

#thankyou .btn {
  margin: 0 10px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#thankyou .btn i {
  margin-right: 8px;
}

#thankyou .btn-linkedin {
  background-color: #0077b5;
}

#thankyou .btn-linkedin:hover {
  background-color: #005582;
}

#thankyou .btn-resume {
  background-color: #0077b5;
}

#thankyou .btn-resume:hover {
  background-color: #005582;
}

/* Contact Section */
#contact {
  text-align: center;
  margin-top: 60px;
}

#contact h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

#contact p {
  font-size: 18px;
  margin-bottom: 30px;
}

#contact .form-control {
  margin-bottom: 20px;
}

#contact .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

#contact .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.footer {
  background-color: transparent;
  color: #2c2b2b;
  /* Adjust the text color if needed */
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  /* Optional: add a top border for separation */
  text-align: center;
  padding: 0px 0%;
}
